<!-- Подключение заголовков -->
<% include ../common/head %>
	<div class="container-other">
	<!-- Блок верхнего меню -->
 		<% include ../common/topmenu %>

		<div class="logo-fon-profil">
			<div class="expert-names">
				<img src="img/photo-fone.png" class="photo-name" >
			</div>
		</div>
			<div class="photo-cont-wrap">
				<%= error_msg %>
			</div>

		<!-- Блок Футера -->
		<% include ../common/footer %>
	</div>

<!-- Всплывающие окна -->



</body>
</html>


