<!-- Подключение заголовков -->
<% include ../common/head %>
	<div class="container-other">
	<!-- Блок верхнего меню -->
 		<% include ../common/topmenu %>


		<div class="notice-wrap">
			<div class="notice">
				<span class="notice-mesage">
				Вы не авторизованы. Авторизуйтесь и попробуйте снова!
				</span>
			</div>
		</div>
		<!-- Блок Футера -->
		<% include ../common/footer %>
		</div>

</body>
</html>


		