<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcom to ME</title>
</head>
<body>
	Добрый день, <%= name %>.<br>
	Вы оставляли сообщение.
	Вот наш ответ:
	<%= msg %>
</body>
</html>