<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcom to ME</title>
</head>
<body>
	<div class="mail-container" style="width: 600px; height: 500px;border: 1px solid #716D6D;">
		<div class="logo-mail-wrap" style="height: 90px; width: 100%;">
			<div class="logo-mail-fon" style="background: url('http://localhost:3000/img/mail-fon.png'); padding: 15px;">
				<div class="logo-place" style="margin: 0 auto; width: 280px; height: 60px; background-color: #E07450; text-align: center; line-height: 75px;">
					<img src="http://localhost:3000/img/logo-to-mail.png" class="logo-to-mail">
				</div>
			</div>
		</div>
		<div class="text-message-wrap" style="margin: 0 auto; width: 462px; height: 410px; font-family: "Segoe UI Semilight"; font-size: 15px; margin-top:35px;">
			<div class="text-mesage">
				<span class="confirm-email" style="font-family:"Segoe UI Semilight"; font-size:15px;"> Уважаемый (ая)  Иван Иванович! <br><br>
					Вы ввели admin@mail.ru в качестве контактного адреса электронной почты для вашего аккаунта. Чтобы завершить процесс, мы просто должны убедиться, что этот адрес принадлежит вам. Просто нажмите на ссылку ниже, и войдите в систему.
					<br><br>
					<a href="#" style="{text-decoration:none; color:#9A9999}:hover{color:#E07450; }">http://mediaexpert-dev.azurewebsites.net/</a>
					<br><br>Если вы не запрашивали новый аккаунт на media-expert.ru, просто проигнорируйте это письмо.
				</span>
			</div>
			<div class="line-down" style="height: 1px; width: 460px; background-color: #716D6D; margin-top: 15px; margin-bottom:18px;"></div>
			<div class="contacts">
				<span class="contact-text" style="font-family:"Segoe UI Semilight"; font-size:15px;">
					Контакты:<br>
					m.expert@gmail.ru</a><br>
					Тел. +7 (925) 772-33-04
				</span>
			</div>
		</div>
	</div>
</body>
</html>