<!-- Подключение заголовков -->
<% include ../common/head %>
	<div class="container-other">
	<!-- Блок верхнего меню -->
		<% include ../common/topmenu %>
<div class="logo-fon-profil">
			<div class="expert-names">
				<img src="img/photo-fone.png" class="photo-name" >
			</div>
		</div>
		<div class="photo-cont-wrap">
			<div class="photo-wrap">
				<div class="create-album">Создать альбом</div>
				<div class="create-container">
					<div class="topic-place">
						<a class="btn-close"></a>
						<span class="topic">Создать альбом</span>
						<div class="topic-line"></div>
					</div>
					<div class="add_album">
						<input type="text" placeholder="Введите название" maxlength="50" class="new-name">
						<textarea maxlength="150" placeholder="Об альбоме" class="about_album"></textarea>
					</div>
					<div class="create-btn">
						<div class="btn-line"></div>
						<div class="btn-create">Создать</div>
					</div>
				</div>
				<div class="delete-album">Удалить альбом</div>
				<div class="my-album-place">
					<div class="case op-media">
						<div class="alboom"></div>
						<span сlass="album-item">Название</span>
					</div>
					<div class="case-3 op-media">
						<div class="alboom"></div>
						<span сlass="album-item">Название</span>
					</div>
					<div class="case-3 op-media">
						<div class="alboom"></div>
						<span сlass="album-item">Название</span>
					</div>
					<div class="case-3 op-media">
						<div class="alboom"></div>
						<span сlass="album-item">Название</span>
					</div>
					<div class="case-3 op-media">
						<div class="alboom"></div>
						<span сlass="album-item">Название</span>
					</div>
					<div class="case-3 op-media">
						<div class="alboom"></div>
						<span сlass="album-item">Название</span>
					</div>
					<div class="case-3 op-media">
						<div class="alboom"></div>
						<span сlass="album-item">Название</span>
					</div>
					<div class="case-3 op-media">
						<div class="alboom"></div>
						<span сlass="album-item">Название</span>
					</div>
				</div>
			</div>
		</div>
			<!-- Блок Футера -->
		<% include ../common/footer %>
	</div>
