	<!-- Подключение заголовков -->
	<% include /common/head %>
<div class="container-other">
	<!-- Блок верхнего меню -->
 	<% include /common/topmenu %>

	<div class="logo-fon">
		<div class="logo_wrap">
			<img src="/img/about-system.png" class="registr_me">
		</div>
	</div>
	<div class="about-us">
		<span class="name-paragraph">ИСТОРИЯ</span><br><br>

Однажды один редактор и один эксперт-психолог разговорились об экспертах в принципе и об их медийной деятельности в частности, о том, что вообще редактору нужно и что эксперты делают. И как их трудно находить. И как их вообще нету.<br><br>

И тогда они - редактор Кристина Граник и психолог Анна Хныкина - решили создать пространство, где редактор и эксперт находили бы друг друга. Мало того, решили организовать мероприятия, где бы можно было бы потренировать неопытных экспертов и подготовить их к выступлениям в СМИ.<br><br>

Таким образом, создаётся БАЗА ВОЗМОЖНОСТЕЙ для всех тех, кто хотел бы поделиться своими знаниями с максимальной аудиторией, или иными словами - стать медиа-экспертом.<br><br>


<span class="name-paragraph">ПРАВИЛА РАБОТЫ СИСТЕМЫ.</span><br><br>


В системе зарегистрированы эксперты и редакторы теле- и радио-программ. Просматривать страницы экспертов и размещенные на них материалы могут все интернет-пользователи. Контакты доступны только зарегистрированным редакторам. Эксперты могут размещать на своих страницах фото и видеоматериалы, имеющие отношение исключительно к медийной деятельности. Все лишнее будет удалено модераторами.<br><br>


<span class="name-paragraph">КАК ПОПАСТЬ В БАЗУ И ИСПОЛЬЗОВАТЬ ЕЁ?</span><br><br>


Если вы гостевой редактор, вам необходимо просто зарегистрироваться в базе. Найти необходимого специалиста вы можете, используя строку поиска. Вы не можете добавлять контакты специалистов самостоятельно. Но вы можете поднимать рейтинг уже находящихся в базе специалистов, которые принимали участие в вашей программе, а также оставлять отзыв.<br><br>


Если вы - специалист с большим опытом участия в программах, вам нужно отправить заявку и ссылку на видео программ с вашим участием. Если ваш опыт удовлетворяет нашим требованиям, у вас появится личная страница в нашей базе.<br><br>


Если вы - специалист без опыта участия в программах (либо опыт минимален), то для того, чтобы попасть в базу, вам необходимо пройти тренинг "Базовый". После его прохождения мы даем вам доступ к базе, в которой вы можете создать свою страницу. Все это будет доступно гостевым редакторам, которые ищут экспертов.<br><br>


Ваш экспертный рейтинг может быть выше или ниже, в зависимости от того, с каким успехом вы прошли тренинг (информацию о том, как заработать высокий рейтинг, можно получить здесь). Кроме того, ваш рейтинг могут повышать редакторы по итогам сотрудничества.<br><br>


<span class="name-paragraph">КАК ПОДНЯТЬ СВОЙ РЕЙТИНГ.</span><br><br>


- Вы можете получить 1 звезду уже на Базовом тренинге<br>

- Рейтинг могут поднимать редакторы<br>

- Рейтинг зависит от количества участий в тв- программах<br>

- Можно получить звезду, пройдя наш любой повторный тренинг<br><br>


<span class="name-paragraph">ТРЕНИНГИ И СЕМИНАРЫ</span><br><br>


Для повышения рейтинга экспертов, а также для тренировки и проработки навыков работы перед публикой, перед камерой, мы создали и с успехом проводим тренинги и семинары. На этих мероприятиях вы можете детально проработать и понять, что же мешает именно вам выступать и нести уверенность вместе со своими знаниями, а также стать в кадре более "живым" и интересным.<br><br>

Пройдя любой семинар, кроме "Базового", вы получаете звезду к рейтингу.<br><br>

		</span>
	</div>
	<!-- Блок Футера -->
		<% include /common/footer %>
</div>
</body>
</html>

