<!-- Подключение заголовков -->
<% include common/head %>
	<div class="container-other">
	<!-- Блок верхнего меню -->
 		<% include common/topmenu %>

		<div class="logo-fon-profil">
			<div class="expert-names">
			</div>
		</div>
			<div class="photo-cont-wrap">
				<br>
				Вы уже переходили по этой ссылке, если вы забыли пароль, то воспользуйтесь функцией восстановления пароля. 
			</div>

		<!-- Блок Футера -->
		<% include common/footer %>
	</div>

<!-- Всплывающие окна -->



</body>
</html>


