<!-- Подключение заголовков -->
<% include common/head %>
<body>
	<div class="container-other">
		<div class="logmenu_wrap">
			<div class="logmenu">
				<div class="logmenu_logo">Media Expert</div>
				<div class="logmenu_btns">
					<div class="logmenu_btn">Запросить инвайт</div>
					<div class="logmenu_btn">Войти</div>
				</div>
			</div>
		</div>
		<div class="fonlog">
			<div class="log_wrap">
				<div class="log">
					<img src="img/logotyp.png">
				</div>
			</div>
		</div>
		<div class="downmenu_wrap">
			<div class="downmenu">
				<a href="#" class="link">Учебные программы</a>
				<a href="#"class="link">Каталог экспертов</a>
				<a href="#"class="link">О системе</a>
			</div>
		</div>
		<div class="slide_wrap">
			<div class="slide-avatar">
				<div class="btn_left">
					<img src="images/to_left.png">
				</div>
				<div class="btn_right">
					<img src="images/to_right.png">
				</div>
				<div class="avatar_place">
					<div class="avatar_carusel">
						<img class="avatar_person" src="images/woman1.png">
						<img class="avatar_person" src="images/man1.png">
						<img class="avatar_person" src="images/woman2.png">
						<img class="avatar_person" src="images/man2.png">
						<img class="avatar_person" src="images/woman3.png">
						<img class="avatar_person" src="images/man3.png">
						<img class="avatar_person" src="images/woman4.png">
						<img class="avatar_person" src="images/man4.png">
						<img class="avatar_person" src="images/woman5.png">
						<img class="avatar_person" src="images/man5.png">
					</div>
				</div>
				
			</div>
		</div>
		<div class="expert">
				<div class="expert_place">Эксперты</div>
		</div>
		<div class="footer">
			<div class="menu_footer">
				<div class="project">
					<div class="project-item">О проекте</div>
					<span class="text_project">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, <br>sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. <br>Ut enim ad minim veniam</span>
				</div>
				<div class="contact">
					<div class="contact_item">Контакты</div>
					<span class="text_contact">m.expert@gmail.ru<br>
					Тел. +7 (925) 772-33-04</span>
				</div>
				<div class="fiedback">
					<div class="fiedback_item">Обратная связь</div>
					<img class="mail" src="images/mail.png">
				</div>
			</div>
		</div>
	</div>
</body>
</html>