<!-- Подключение заголовков -->
<% include ../common/head %>
	<div class="container-other">
	<!-- Блок верхнего меню -->
 		<% include ../common/topmenu %>


		<div class="logo-fon">
			<div class="logo_wrap">
				<img src="img/invite-help.png" class="invite_me">
			</div>
		</div>
		<div class="notice-wrap">
			<div class="notice">
				<span class="notice-mesage">
					Спасибо, ваша заявка будет рассмотрена. Если у Вас получилось убедить нас, что Вы достойны быть членом сообщества <span class="media">MEDIA EXPERT</span>, на указаный электронный ящик придет ссылка с приглашением.
					<br><br>
					На всякий случай рекомендуем не забывать проверять папку для спама.  
				</span>
			</div>
		</div>
		<!-- Блок Футера -->
		<% include ../common/footer %>
		</div>

</body>
</html>


		