<!-- Подключение заголовков -->
<% include ../common/head %>
	<div class="container-other">
	<!-- Блок верхнего меню -->
 		<% include ../common/topmenu %>


		<div class="logo-fon">
			<div class="logo_wrap">
				<img src="img/invite-help.png" class="invite_me">
			</div>
		</div>
		<div class="notice-wrap">
			<div class="notice">
				<span class="notice-mesage">
				Спасибо, ваша заявка будет рассмотрена редактором <b>MEDIA EXPERT</b> в 
				ближайшее время. На указаный вами электронный ящик (<%- invite.email %>) в случае одобрения заявки 
				придет ссылка с приглашением, или сообщение с отклонением заявки.
<br><br>
				На всякий случай рекомендуем не забывать проверять папку для спама.
				</span>
			</div>
		</div>
		<!-- Блок Футера -->
		<% include ../common/footer %>
		</div>

</body>
</html>


		