<!-- Подключение заголовков -->
<% include ../common/head %>
	<div class="container-other">
	<!-- Блок верхнего меню -->
 		<% include ../common/topmenu %>


		<div class="logo-fon">
			<div class="logo_wrap">
				<img src="img/invite-help.png" class="invite_me">
			</div>
		</div>
		<div class="notice-wrap">
После регистрации: <%- errorList.Msg %>
		</div>
		<!-- Блок Футера -->
		<% include ../common/footer %>
		</div>

</body>
</html>