<!-- Подключение заголовков -->
<% include ../common/head %>
<body>
	<div class="container-other">
	<!-- Блок верхнего меню -->
		<% include ../common/topmenu %>

		<div class="logo-fon">
			<div class="logo_wrap">
				<span class="invite_me">Ваш запрос принят на рассмотрение.</span>
			</div>
		</div>

	<!-- Блок среднего меню -->
		<% include ../common/dropdown %>

			
	</div>

	<!-- Блок Футера -->
		<% include ../common/footer %>

	</div>
</body>
</html>