	<!-- Подключение заголовков -->
	<% include ../common/head %>
<div class="container-other">
	<!-- Блок верхнего меню -->
 	<% include ../common/topmenu %>

	<div class="logo-fon">
		<div class="logo_wrap">
			<img src="/img/learn.png" class="registr_me">
		</div>
	</div>
	<div class="about-us">
		<span class="text-system">
		<ul style="
    font-size: xx-large;">
			<li>1. "Базовая программа".</li>
			<li>2. "Красивый голос есть у каждого".</li>
			<li>3. "Внутренние дети, как источник вечной энергии".</li>
			<li>4. "Публичность, как часть жизни".</li>
			<li>5. "Микропоказы".</li>
		</ul><br>
			<video id="lessonVideo" class="videocontainer"
					  controls preload="auto" width="1024" height="574"
					  poster="/img/previewpromo.png"
					 <source src="/upload/videopromo.mp4" type='video/mp4' />
			</video>

			
		</span>
	</div>
	<!-- Блок Футера -->
		<% include ../common/footer %>
</div>
</body>
</html>

