<!-- Подключение заголовков -->
<% include ../common/head %>
	<div class="container-other">
	<!-- Блок верхнего меню -->
 		<% include ../common/topmenu %>


		<div class="logo-fon">
			<div class="logo_wrap">
			</div>
		</div>
		<div class="notice-wrap">
			<div class="notice">
				<span class="notice-mesage">
					У вас нет доступа для просмотра данного профиля. 
				</span>
			</div>
		</div>
		<!-- Блок Футера -->
		<% include ../common/footer %>
		</div>

</body>
</html>


		