		<div class="downmenu_wrap">
			<div class="downmenu">
				<a href="lesson" class="link"><%= __('Тренинги') %></a>
				<a href="catalog" class="link"><%= __('ExpoCat') %></a>
				<a href="about" class="link"><%= __('About') %></a>
			</div>
		</div>