		<div class="footer">
			<div class="menu_footer">
				<div class="project">
					<div class="project-item">О проекте</div>
					<div class="about-project">
						<span class="text_project">Кампания МедиаЭксперт создана для того, 
						чтобы помочь специалистам из разных областей 
						стать востребованными в медиапространстве в 
						качестве экспертов в различных телепередачах и 
						радиоэфирах. А также редакторам таких программ, 
						которые ищут свежие и адаптированные к телевидению и радио лица.</span>
					</div>
				</div>
				<div class="contact">
					<div class="contact_item">Контакты</div>
					<span class="text_contact">adminmaria@codeistvie.ru<br>
					Тел. +7 (495) 772 33 04</br>
 					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +7 (985) 330 18 53</span>
				</div>
				<div class="fiedback">
					<div class="fiedback_item">Обратная связь</div>
					<img class="mail" src="/images/mail.png">
				</div>
			</div>
			<div class="back-container">
				<div class="btn-fied-close">
					<div class="fiedback-close"></div>
				</div>
				<div class="back-wrap"><form id="feedback">
					<input type="text" tabindex="-1" class="my_info" maxlength="80" placeholder="Имя" id="feedbackName" name="feedbackName">
					<input type="text" tabindex="-1" class="my_info" maxlength="80" placeholder="Email" id="feedbackMail" name="feedbackMail">
					<textarea class="my_mesage" tabindex="-1" placeholder="Введите текст сообщения..." maxlength="150" id="feedbackMsg" name="feedbackMsg"></textarea>
					<div class="line-fied"></div>
					<div class="btn-fiedback">
						<input type="submit" tabindex="-1" class="fiedback-ok" value="Отправить">
					</div>
				</form></div>
				<div class="back-after">
					Выш запрос принят.<br>
					Ответ Вы получите на указанный e-mail.
				</div>
			</div>
		</div>

	 		<% include ./auth %>
	 		<% include ./pushmenu %>