<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fiedback</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/jquery-2.0.2.js"></script>
	<script src="js/index.js"></script>
	</head>
<body>
	<div class="back-container">
		<div class="btn-fied-close">
			<a href="#" class="fiedback-close"></a>
		</div>
		<div class="back-wrap">
			<input type="text" tabindex="-1" maxlength="80" class="my_info" placeholder="Имя">
			<input type="text" tabindex="-1" maxlength="80" class="my_info" placeholder="Email">
			<textarea class="my_mesage" tabindex="-1" placeholder="Введите текст сообщения..." maxlength="130"></textarea>
			<div class="line-fied"></div>
			<div class="btn-fiedback">
				<input type="submit" class="fiedback-ok" value="Отправить">
			</div>
		</div>
	</div>
</body>
</html>